In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
# Read data
data = pd.read_csv("data/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
# Feature selection
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
target = ["Survived"]

In [38]:
# Preprocessing
data = data[features + target]
data.shape

(891, 8)

In [42]:
pd.isna(data).sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Survived      0
dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
xtrain, xvalidation, ytrain, yvalidation = train_test_split(data[features], data[target], test_size=0.3)

In [32]:
xtrain = pd.get_dummies(xtrain)
xvalidation = pd.get_dummies(xvalidation)

In [34]:
xvalidation

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
165,3,9.0,0,2,20.5250,0,1,0,0,1
540,1,36.0,0,2,71.0000,1,0,0,0,1
341,1,24.0,3,2,263.0000,1,0,0,0,1
260,3,NaN,0,0,7.7500,0,1,0,1,0
726,2,30.0,3,0,21.0000,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
538,3,NaN,0,0,14.5000,0,1,0,0,1
420,3,NaN,0,0,7.8958,0,1,1,0,0
549,2,8.0,1,1,36.7500,0,1,0,0,1
103,3,33.0,0,0,8.6542,0,1,0,0,1
512,1,36.0,0,0,26.2875,0,1,0,0,1

In [35]:
from sklearn.linear_model import LogisticRegression
glm = LogisticRegression()
glm.fit(xtrain, ytrain)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values